.link-css Button {
    background-color: #fff !important;
    color: #000 !important;
    border: none;
    padding: 10px 20px;
    font-size: 1.0rem;
    font-weight: 600;
    border-radius: 0px !important;
    border: solid 2px #000!important;
    transition: all 0.4s ease;
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.link-css Button:hover {
    background-color: #000 !important;
    border: solid 2px #000 !important;
    color: #fff !important;
}

.link-css span {
    margin: 6px;
}