.layout-public-css{
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.4s ease;
    overflow: hidden;
}

.layout-public-css:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

@media (min-width: 1200px) {
    .layout-public-css{
        width: 1024px !important;
        margin: 0 auto;
    }
}